


<div class="banner-top">
  <div class="banner-content">
    <h1>Dopple Ganger</h1>
    <p>serving the split - rave and rejuvenate in one retreat</p>
    <%= link_to "Add a festival", new_festival_path, class: "button" %>
<%= link_to "see all festivals", festivals_path, class: "button" %>
<%= link_to "all my bookings", bookings_path, class: "button" %>
  </div>
</div>
<div class="banner-middle">
  <div class="banner-content">
    <h1>Find My Festival</h1>
    <p>but don't disturb the fairys...sshhhh</p>
    <%= link_to "Add a festival", new_festival_path, class: "button" %>
<%= link_to "see all festivals", festivals_path, class: "btn button" %>
<%= link_to "all my bookings", bookings_path, class: "btn button" %>
  </div>
</div>
<div class="banner-bottom">
  <div class="banner-content">
    <h1>Find My Festival</h1>
    <p>but don't disturb the fairys...sshhhh</p>

<%= link_to "see all festivals", festivals_path, class: "button" %>
<%= link_to "all my bookings", bookings_path, class: "button" %>
  </div>
</div>

