<h1><%= @festival.title %></h1>
<p><%= @festival.description %></p>

<%= link_to "All festivals", festivals_path, class: "btn btn-info" %>
<%= link_to "Add a festival", new_festival_path, class: "btn btn-info" %>
 <!-- link_to "Edit a festival", edit_festival_path(@festival), class: "btn btn-info"  -->
<%= link_to "Remove festival", festival_path(@festival), method: :delete, data: {confirm: "You sure??" }, class: "btn btn-info" %>


